body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232F3E;
    padding: 10px 20px;
    color: white;
}

.nav_logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-search {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    width: 300px;
    border-radius: 4px;
}

.search-icon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FF9900;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-cart {
    display: flex;
    align-items: center;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.product-img {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.buy-button {
    background-color: #FF9900;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

footer {
    background-color: #232F3E;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
}
